.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.selector {
  position: relative;
  width: 300px;
}

.display {
  padding: 12px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}

.options {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 45px;
  box-shadow: 0 3px 5px #00000030;
  border-radius: 4px;
  p {
    padding: 12px;
    cursor: pointer;
    &:hover {
      background-color: #d6d6d6;
    }
  }
}

.hidden_selector {
  display: none;
}

@media (max-width: 900px) {
  .selector {
    width: 100%;
  }
}
